Repository k1LoW/deck, pull requests merged in 2025-09, with the labels that each got.

#428 feat: support strikethrough GFM syntax ('~~')
  README.md
  md/md.go
  style.go
  testdata/style.md
  testdata/style.md-1.golden.png
  testdata/style.md.golden
Labels: enhancement, minor, integration-test

#433 chore: remove redundant checks
  action.go
  compare.go
Labels: integration-test

#439 hide deprecation warning when using `--base`
  cmd/new.go
Labels: bug

#442 fix: when slide pages are added or moved, the freeze option does not behave correctly.
  action.go
  action_test.go
  integration_apply_test.go
Labels: bug, integration-test

#449 [k1LoW/deck#448] fix link text including underscore is partially missing
  integration_test.go
  md/md.go
  testdata/link.md
  testdata/link.md.golden
Labels: bug, integration-test
